.btn-danger{
float: right;
transition: 0.5s;
    color: white!important;
}
.btn-danger:hover{
    transform: scale(1.4)!important;
}
 .card{
 width: 350px;
}

.card{
    margin: 20px 15px;
}
.card-img-top{
    width: 310px;
    margin: 15px auto;
    transition: .5s;
    height: 260px;
    border-radius: 5px;
}
.card-img-top:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.row{
    margin-top: 10px;
}
.btn-lg{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
}
.icons{
    width: 70px;
    height: 70px;
    transition: .3s;
}
.icons:hover{
   cursor: pointer;
   transform: scale(1.2);
}


